<?xml version="1.0"?>

<robot name="rampa">

    <material name="blue">
        <color rgba="0 0 0.8 1" />
    </material>

    <link name="base_link">

        <inertial>
            <origin xyz="0 0 0" />
            <mass value="100.0" />
            <inertia ixx="1.0" ixy="0.0" ixz="0.0"
            iyy="1.0" iyz="0.0" izz="1.0" />
        </inertial>

        <visual>
            <origin xyz="0 0 0" />
            <geometry>
                <box size="2 4 1" />
            </geometry>
            <material name="blue"/>
        </visual>

        <collision>
            <origin xyz="0 0 0" />
            <geometry>
             <box size="2 4 1" />
            </geometry>
        </collision>

    </link>

    <link name="rampa_izquierda">

        <inertial>
            <origin rpy="-0.31 0 0" xyz="0 0 0" />
            <mass value="10.0" />
            <inertia ixx="1.0" ixy="0.0" ixz="0.0"
            iyy="0.0" iyz="0.0" izz="1.0" />

        </inertial>

        <visual>        
            <origin rpy="-0.31 0 0" xyz="0 0 0" />
            <geometry>
                <box size="2 3.16 0" />
            </geometry>
            <material name="blue"/>
        </visual>

        <collision>
            <origin rpy="-0.31 0 0" xyz="0 0 0" />
            <geometry>
             <box size="2 3.16 0" />
            </geometry>
        </collision>

    </link>

    <link name="rampa_derecha">

        <inertial>
            <origin rpy="0.31 0 0" xyz="0 0 0" />
            <mass value="10.0" />
            <inertia ixx="1.0" ixy="0.0" ixz="0.0"
            iyy="0.0" iyz="0.0" izz="1.0" />

        </inertial>

        <visual>        
            <origin rpy="0.31 0 0" xyz="0 0 0" />
            <geometry>
                <box size="2 3.16 0" />
            </geometry>
            <material name="blue"/>
        </visual>

        <collision>
            <origin rpy="0.31 0 0" xyz="0 0 0" />
            <geometry>
             <box size="2 3.16 0" />
            </geometry>
        </collision>

    </link>

    <joint name = "rampa_izquierda_joint" type = "fixed">
        <parent link="base_link" />
        <child link="rampa_izquierda" />
        <origin xyz="0 3.5 0" rpy="0 0 0" />
        <axis xyz="0 0 0" />
    </joint>

    <joint name = "rampa_derecha_joint" type = "fixed">
        <parent link="base_link" />
        <child link="rampa_derecha" />
        <origin xyz="0 -3.5 0" rpy="0 0 0" />
        <axis xyz="0 0 0" />
    </joint>

</robot>